html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url(./jianpan.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: left center;
  background-image: -webkit-cross-fade(
    url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==),
    url(./jianpan.jpg),
    60%
  );
  background-image: cross-fade(
    url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==),
    url(./jianpan.jpg),
    50%
  );
}
.name,
.ying,
.qian,
.tu {
  display: flex;
}
.name {
  height: 40vh;
  font-size: 50px;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0px;
}
.ying {
  height: 2vh;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.qian {
  height: 4vh;
  align-items: center;
  justify-content: center;
}

.tu {
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
ul {
  margin-left: 47px;
  margin-right: 47px;
}
ul li {
  margin-left: 1em;
  transition: 0.5s;
  cursor: pointer;
  padding: 3px;
  border-radius: 10%;
  position: relative;
}
ul li:hover {
  color: black;
  box-shadow: 0 0 0 4px black, 0 0 0 6px aqua;
}
.ti {
  width: 160px;
  height: 25vh;
  font-size: 16px;
  line-height: 1.7;
  padding: 20px;
  color: white;
  word-break: break-word;
  background-color: rgb(41, 38, 38);
  position: absolute;
  top: 10vh;
  left: -76px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10%;
  text-align: center;
}
ul li .ti::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(41, 38, 38);
  top: -10px;
  left: 87px;
  transform: rotate(45deg);
}
ul li:hover .ti {
  visibility: visible;
  opacity: 1;
}
.shi {
  width: 60px;
  height: 4vh;
  font-size: 14px;
  line-height: 1.7;
  padding-top: 6px;
  color: black;
  position: absolute;
  top: 7vh;
  left: -3px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  border-radius: 10%;
  text-align: center;
}
ul li:hover .shi {
  visibility: hidden;
  opacity: 0;
}
